.company-description
  &__inner
    display: flex
    flex-direction: column
    justify-content: center
    align-items: flex-start
    position: relative
    margin: 0 auto
    width: 70%
    min-height: 100vh
  &__title
    h1
      font-size: 3.5rem
  &__slogan
    font-size: 1.25rem
    font-weight: 300
    margin-top: 1.5rem
    max-width: 30rem
  input
    color: #fff
    font-size: 1.1rem
    padding: 1rem 1.1rem
    margin-top: 2.5rem
    border-radius: .75rem
    background-color: #3D5656
    transition: background-color .2s
  input:hover
    background-color: #68B984
