@use 'colors'
.company-description
  background: colors.$main-background-fade
  background-size: cover
  border-radius: 0 0rem 60rem 0rem
  color: colors.$main-text-light
  &__inner
    max-width: 75%
  &__title
    font-size: 3.5rem
    font-weight: 600
  &__slogan
    font-size: 1.25rem
    font-weight: 300
    margin-top: 1.5rem
    max-width: 30rem
  input
    color: #fff
    font-size: 1.1rem
    padding: 1rem 1.1rem
    margin-top: 2.5rem
    border-radius: .75rem
    background-color: colors.$action
    transition: background-color .2s
    max-width: 12rem
  input:hover
    background-color: colors.$hover-dark
